.page-img {
    background-image: url('https://www.pexels.com/photo/woman-coding-on-computer-3861958/'); /* Set the path to your image */
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image repetition */
    height: 100vh; /* Set the height to cover the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  