.main-page {
  background-image: url("https://bowvalleycollege.ca/-/media/bvc/stories-and-news/2022/campus_1.ashx"); /* Replace 'your-image-url.jpg' with the image URL you want to use */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff; /* Text color on the main page */
  text-align: center;
  padding: 100px 0; /* Adjust the padding as needed */
}

.main-page-content {
  max-width: 800px; /* Adjust the maximum width for content */
  margin: 0 auto;
}

.main-page h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-page p {
  font-size: 20px;
}

/* Add any additional styles for images here */
