.background-image{
    background-image:url("../assets/images/FinalBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}